<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div id="form1">
        

            <div class="mb-md-5 mt-md-4 pb-5">

            </div>
            <div class="geeks">
              <img src=
      "../../../assets/1Kte.gif"
                  alt="Geeks Image" />
          </div>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

              <div class="form-outline form-white mb-4">
                <input type="email" id="nombreUsuario" name= "nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required/>
                <label class="form-label" for="nombreUsuario">User</label>
            
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" required/>
                <label class="form-label" for="password">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password? Contact your administrator</a></p>

              
              <button style="color: #165412" class="btn btn-outline-ligth" type="submit">
                LOGIN
            </button>

            <button type="button" style="color: #165412" class="btn btn-outline-ligth" routerLink="/">
                Cancelar
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
</section>