<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div id="form1">
          
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
              </div>
              <div class="geeks">
                <img src=
        "../../../assets/1Kte.gif"
                    alt="Geeks Image" />
            </div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="skills.nombreS" required>
                    <label for="nombreS">Nombre Skill</label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" id="descripcionS" name="descripcionS" [(ngModel)]="skills.descripcionS" required>
                    <label for="descripcionS">Valoracion</label>
                    
                </div>
                <button class="btn btn-primary" id="agregar">
                    Actualizar
                </button>

                <button type="button" style="color: #165412" class="btn btn-outline-ligth" routerLink="/">
                    Cancelar
                </button>
            </form>
              
            </div>
          </div>
        </div>
      </div>
    
  </section>