.row{
    padding: 5px;
    }
div{
    background-color: #000000;
    text-align: center;
    z-index: 1;
}

h1,span{
    color: rgb(179, 206, 206);
}

@media(min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
       
        box-shadow: 3px 3px 3px grey;
        left: 3.5%;
        top: 350px;
        box-shadow: 0 0 10px 0 #165412 inset, 0 0 10px 4px #165412;

    }
    #about{
        margin-top: 2.5%;
        margin-left: 100px;
        font-size: 30px;
    }
    #nombre{
        font-weight: bold;
        font-size: 30px;
        margin-top: 30%;
        margin-left: 30%;
        color: rgb(200, 245, 230);
    }
    #full{
        margin-left: 30%;
        color: rgb(179, 206, 206);
    }
    
}
@media(max-width:575px){
        #fotodeperfil{
            position: absolute;
            width: 40%;
            box-shadow: 0 0 10px 0 #165412 inset, 0 0 10px 4px #165412;
            left: 30%;
            top: 600px;
        }
        #nombre{
            font-weight: bold;
            font-size: 30px;
            margin-top: 30%;
            margin-left: 5%;
            color: rgb(200, 245, 230);
        }
        #full{
            margin-left: 5%;
            color: rgb(179, 206, 206);
        }
}