<div class="rom">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">

        </div>
        <div class="redes">
    
                <a href="https://www.linkedin.com/in/leonardo-ju%C3%A1rez-30507723a/" target="_blank"><img src="../../../assets/linkedin.png" alt=""></a>
                <a href="https://www.facebook.com/nicooooj/" target="_blank"><img src="../../../assets/facebook.png" alt=""></a>
                <a href="https://github.com/leojua89" target="_blank"><img src="../../../assets/github.png" alt=""></a>
                <a href="https://www.instagram.com/leojua89/?hl=es" target="_blank"><img src="../../../assets/instagram.png" alt=""></a>
              
                <button type="button" style="color: #165412" class="btn btn-outline-ligth" (click)="login()" *ngIf="!isLogged">LOG IN</button>
                <button type="button" style="color: #165412"  class="btn btn-outline-ligth" (click)="onLogOut()" *ngIf="isLogged">SALIR</button>
         
        
            
        </div>
    </div>
</div>

